{{- if .Values.namespace.create }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    {{- include "flight-fetcher.labels" . | nindent 4 }}
    app: {{ include "flight-fetcher.name" . }}
{{- end }}

